body {
    /*background-image: url(../img/cartix-pic_.jpg) !important;*/

    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}
.opacity {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
}
.footer {
    position: absolute;
    bottom: 0;
}
.footer .btn-cartix-bottom {
    margin-left: 50px;
    margin-bottom: 30px;
}
.btn-cartix {
    border-radius: 20px;
    width: 100px;
    height: 40px;
    line-height: 20px;
    font-weight: bold;
    background-color: #4C0014;
    color: white;
    border: 2px solid #4C0014;
    z-index: 100;
}
.btn-cartix_ {
    border-radius: 20px;
    width: 100px;
    height: 40px;
    line-height: 20px;
    font-weight: bold;
    background-color: #009710;
    color: white;
    border: 2px solid #009710;
    z-index: 100;
}
.background {
    border: 1px solid #4C0014;
    background-color: #4C0014;
    width: 100%;
    height: 80px;
    padding-top: 14px;
    position: absolute;
    top: 0;
}
.background img {
    width: 30px;
    height: 35px;
}

.upload-file {
    background-color: #EBEBEB;
    margin-top: 190px;
    padding: 120px;
}
.text_2 {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.navbar-sidebar {
    background-color: #4C0014;
    border-radius: 0px !important;
    height: 94px;
    margin-top: -60px;
}
.navbar-brand img {
    width: 25px;
    height: 27.6px;
}
.box-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 300px;
    padding: 20px;
    background: #EBEBEB;
    text-align: center;
}

.box-center > input {
    display: none;
}
.box-center i {
    padding-top: 43px;
    font-size: 100px;
    color: #BDBDBD;
}
.text_1 {
    font-weight: bold;
    color: #757575;
    font-size: 13px;
}
.text_2 {
    color: #BDBDBD;
}
.download-data p {
    margin-top: 580px;
    color: #3D5AFE;
    font-weight: bold;
}
.download-data p:hover{
  color: #1A237E;
}
.footer-text {
    font-size: 11px;
    color: #BDBDBD;
}
.footer-style {
    margin-top: 40px;
}
.btn-upload {
    padding-top: 84px;
}
/*Navbar Data css*/

.navbar-default {
    background-color: #4C0014!important;
}
.navbar-default img {
    width: 50px;
    margin-top: 30px;
}
.dropdown-list {
    padding-top: 40px;
}
.status {
    float: right;
}
.table {
    padding-top: 12px;
}
/*Default button*/

.btn-select {
    position: relative;
    padding: 0;
    min-width: 236px;
    width: 100%;
    border-radius: 0;
    margin-bottom: 20px;
}
.btn-select .btn-select-value {
    padding: 6px 12px;
    display: block;
    position: absolute;
    left: 0;
    right: 34px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}
.btn-select .btn-select-arrow {
    float: right;
    line-height: 20px;
    padding: 6px 10px;
    top: 0;
}
.btn-select ul {
    display: none;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none !important;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 33px;
    z-index: 999;
}
.btn-select ul li {
    padding: 3px 6px;
    text-align: left;
}
.btn-select ul li:hover {
    background-color: #f4f4f4;
}
.btn-select ul li.selected {
    color: white;
}
/* Default Start */

.btn-select.btn-default:hover,
.btn-select.btn-default:active,
.btn-select.btn-default.active {
    border-color: #ccc;
}
.btn-select.btn-default ul li.selected {
    background-color: #ccc;
}
.btn-select.btn-default ul,
.btn-select.btn-default .btn-select-value {
    background-color: white;
    border: #ccc 1px solid;
}
.btn-select.btn-default:hover,
.btn-select.btn-default.active {
    background-color: #e6e6e6;
}
/* Default End */

h5 {
    color: white;
    font-weight: bold;
}
.background-color {
    background-color: #4C0014;
}
.btn-select-light {
    border-radius: 3px;
}
td {
    color: #757575;
    font-weight: lighter;
}
.button-save {
    margin-top: 15px;
}
