body {
    /*background-image: url(../img/cartix-pic_.jpg) !important;*/

    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    background-size: 100% 100%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 27px;
    color: white;
}
.sidenav .closebtn_2 {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: white;
    margin-top: 40px;
    margin-right: 32px;
}
.opacity {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
}
.footer {
    position: absolute;
    bottom: 0;
}
.footer .btn-cartix-bottom {
    margin-left: 50px;
    margin-bottom: 30px;
}
.btn-cartix {
    border-radius: 20px;
    width: 100px;
    height: 40px;
    line-height: 20px;
    font-weight: bold;
    background-color: #4C0014;
    color: white;
    border: 2px solid #4C0014;
    z-index: 100;
}

.download-data p {
    margin-top: 520px;
    color: #3D5AFE;
    font-weight: bold;
}
.download-data p:hover {
    color: #1A237E;
}

.btn-cartix_ {
    border-radius: 20px;
    width: 100px;
    height: 40px;
    line-height: 20px;
    font-weight: bold;
    background-color: #009710;
    color: white;
    border: 2px solid #009710;
    z-index: 100;
    float: left;
}
.background {
    border: 1px solid #4C0014;
    background-color: #4C0014;
    width: 100%;
    height: 80px;
    padding-top: 14px;
    position: absolute;
    top: 0;
}
.background img {
    width: 30px;
    height: 35px;
}
.upload-file {
    background-color: #EBEBEB;
    margin-top: 190px;
    padding: 120px;
}
.text_1 {
    font-weight: bold;
    color: #757575;
    font-size: 13px;
    margin-top: 10px;
}
.text_2 {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
}
.navbar-sidebar {
    background-color: #4C0014;
    border-radius: 0px !important;
    height: 94px;
    margin-top: -60px;
}
.nav-side {
    background-color: #4C0014;
    border-radius: 0px !important;
    margin-top: -60px;
    margin-left: auto;
}
.select-box {
    margin-bottom: 35px;
}
.select-box h5 {
    color: white;
    font-size: 15px;
    font-weight: bold;

}
#ddlCars2 {
    text-align: left;
}
.navbar-brand img {
    width: 25px;
    height: 27.6px;
    margin-left: 25px;
}
.cartix img {
    margin-bottom: 40px;
    margin-top: 50px;
    margin-left: 58px;
    height: 30px;
}
.box-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 300px;
    padding: 20px;
    background: #EBEBEB;
    text-align: center;
}
/*#side-content-data {
    display: none;
}
#side-content-saved {
    display: none;
}
#side-content-uploading {
    display: none;
}
#side-upload-complete {
    display: none;
}*/
.uploading-box {
    margin-top: 80px;
}
.uploading-text_1 {
    font-size: 25px;
}
.uploading-text_2 {
    color: #757575;
}
.box-center-ok {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 300px;
    padding: 20px;
    background: #E8F5E9;
    text-align: center;
}
.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: green;
    display: block;
    margin: auto;
    margin-top: 50px;
}
.text-saved {
    display: block;
    margin: auto;
    margin-top: 10px;
    font-size: 30px;
}
.glyphicon-ok {
    font-size: 45px;
    margin-top: 25px;
    color: white;
}
input[type=file] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.form-style {
    margin-top: 50px;
}
.table {
    padding-top: 12px;
}
/*.table-center {
  margin-left: 20px;
    /*display: none;*/
}

/*/
