<div class="container-fluid bg-1">
   <div class="row">
      <div class="logo-center">
         <img src="assets/img/cartix-logo2.png" class="img-responsive center-block" />
      </div>
   </div>
   <div class="container">
      <div class="row">
         <h1 class="login">Organisation</h1>
         <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3" ng-controller="fileUploadCtrl">
            <form name="uploadfile">
               <div class="form-style">
                  <div class="form-group">
                     <input type="file" ngf-select ng-model="efile" name="file"
                        accept=".xlsx,.csv,.xls" ng-drop ngf-max-size="10MB" required
                        ngf-model-invalid="errorFile">
                  </div>
                  <div class="form-group">
                     <button class="btn" ng-disabled="!uploadfile.$valid" 
                        ng-click="upload_File(efile)">add</button>
                  </div>
                  <span class="progress" ng-show="efile.progress >= 0">
                     <div style="width:{{efile.progress}}%; background-color:green;" 
                        ng-bind="efile.progress + '%'"></div>
                  </span>
                  <div class="btn-next">
                     <button type="submit" class="btn btn-success">Next</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row">
         <p class="text_2">Already have an account?<a href=""><span class="sign-up-style"> Log in</span></a></p>
         <p class="text_3">By clicking in <a href="sign-up.html"><span class="sign-up-style">"sign up"</span></a>you accept the terms and conditions of the service and the privacy policy</p>
      </div>
   </div>
   <footer>
      <div class="container footer-contain">
         <div class="row">
            <p class="footer-text_">© Copyright cartix 2016</p>
         </div>
      </div>
   </footer>
</div>


