
      <div class="container-fluid bg-1">
         <div class="row">
            <div class="logo-center">
               <img src="assets/img/cartix-logo2.png" class="img-responsive center-block" />
            </div>
         </div>
         <div class="container pwd_recovery">
            <div class="row">
               <h1 class="login">Password recovery</h1>
               <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                  <form action="recovery.html" method="post">
                     <div class="form-style">
                        <div class="form-group">
                           <input type="password"  class="form-control form-control-no-border form-style" placeholder="New password" id="pwd_1" required>
                        </div>
                        <div class="form-group">
                           <input type="password" class="form-control form-control-no-border form-style" placeholder="Confirm password"  id="pwd_2" required>
                        </div>
                        <button type="submit" class="btn btn-default btn-pwd">Change password</button>
                  </form>
                  </div>
               </div>
            </div>
         </div>
         <footer>
            <div class="container footer-contain">
               <div class="row">
                  <p class="footer_pwd">© Copyright cartix 2016</p>
               </div>
            </div>
         </footer>
      </div>
     