
      <div class="container-fluid bg-1">
         <div class="row">
            <div class="logo-center">
               <img src="assets/img/cartix-logo2.png" class="img-responsive center-block" />
            </div>
         </div>
         <div class="container login-box">
            <div class="row">
               <h2 class="login">Password recovery</h2>
               <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                  <form action="" method="post">
                     <div class="form-style">
                        <div class="form-group">
                           <input type="email"  class="form-control form-control-no-border form-style" placeholder="Email" id="email" required>
                        </div>
                        <button type="submit" class="btn btn-success">Log in</button>
                  </form>
                  </div>
               </div>
            </div>
         </div>
         <footer>
            <div class="container footer-contain">
               <div class="row">
                  <p class="recovery-footer">© Copyright cartix 2016</p>
               </div>
            </div>
         </footer>
      </div>
      