<div class="container">
         <div class="col-xs-10 col-sm-8 col-md-5 col-lg-4 col-centered">
            <div class="row logo">
               <img src="assets/img/cartix-logo.png">
            </div>
            <div class="row form-cartix" ng-controller="forgetCtrl">
                <h1 class="text-center sign-in">Forget password</h1>
               <form class="form form-horizontal" name="forgetP" >
                  <div class="form-group" >
                     <input type="email" id="username" class="form-control col-md-7" placeholder="Email" ng-model="email" required>
                  </div>
                  <div class="form-group">
                      <p class="text-center" ng-show="notValid">Email not valid!</p>
                      <p class="text-center" ng-show="valid">Password reset link sent to your mail!</p>
                   </div>
                  <div class="form-group">
                      <p class="text-center">Change your mind? <span><a href="#/signin">Sign in</a></span></p>
                  </div>
                  <div class="form-actions form-group">
                     <button type="submit" class="btn btn-success" ng-click="recoverPass(email)" ng-disabled="!forgetP.$valid">Recover password </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
      
      <footer class="footer">
          <div class="container">
              <p class="footer-text">© Copyright cartix 2016</p>
          </div>
       </footer>