<!-- Top content -->
<div class="top-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-centered form-box2">
                <div class="form-top">
                    <div class="form-top-center">
                        <a href="#/"><img src="assets/img/logo.png"></a>
                    </div>
                </div>
                <div class="form-bottom" ng-controller="signupCtrl">
                    <form role="form" name="signup_" class="login-form">
                        <div class="form-group">
                            <label class="sr-only" for="form-username">Full name</label>
                            <input type="text" name="form-username" placeholder="Full name..." class="form-username form-control" id="form-username" ng-model="fullname" required>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-email">Email</label>
                            <input type="email" name="form-email" placeholder="Email..." class="form-username form-control" id="form-email" ng-model="email" required>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-password">Password</label>
                            <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password"  ng-model="password" required>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-email">Organization</label>
<!--                            <input type="email" name="form-email" placeholder="Organization name..." class="form-username form-control" id="form-email" ng-model="org_name" required>-->
                            <select class="form-username form-control" id="organization_list" Placeholder="Select Ngo" ng-model="org_name">
                                
                            </select>
                        </div>
<!--
                        <div class="form-group">
                            <label class="sr-only" for="form-email" id="sel1">Ngo</label>
                            <select class="form-username form-control" id="sel1" ng-model="org_type" Placeholder="NGO Type" required>
                                <option value="1">International NGO</option>
                                <option value="0">Local NGO</option>
                            </select>
                        </div>
-->
                        <div class="form-group" ng-show="message">
                            <p class="text-center error-message" id="authErrorMessage"></p>
                        </div>
                        <button type="button" class="btn-sign" ng-click="sign_up(fullname, email, password, org_name)">Sign Up</button>
                    </form>
                    <div class="terms-agree">
                        <p class="terms-agree small-text">By clicking in "sign up" you accept the terms and conditions of the service and the privacy policy.</p>
                    </div>
                </div>
                <div class="dont-have-an-account">
                    <p class="text-center">Already have an account? <a href="#/signin">Sign in</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
