.default-1 {
    background-color: #0099dA !important;
    border: 1px solid #0099da !important;
    width: 87% !important;
    text-align: center;
}
body {
    margin: 0;
}
.navvv {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    left: 0
}
.cell {}
/*.container { margin: 0 auto; max-width: 960px; }*/

#info + .readmore-js-toggle {
    padding-bottom: 1.5em;
    border-bottom: 1px solid #999;
    font-weight: bold;
}
/*#demo { padding: 0 10%; }*/

.default-2 {
    background-color: #23b24c !important;
    border: 1px solid #23b24c !important;
    width: 87% !important;
    text-align: center;
}
.text-hide {
    color: #23b24c;
}
/*.equal{

       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
}

.panel {
    width: 100%;
    height: 100%;
}*/

.img-size {
    height: 25px;
    display: inline-table;
}
.button-methodlogie {
    /*padding-top: 5px;*/
}
.panel-default {
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 45px #bdbdbd;
}
.navbar-inverses .navbar-toggle .icon-bar {
    background-color: #fff;
    outline: 0
}
.finding {
    color: #fff;
    font-size: 3.00vh;
}
.methodologie {
    color: #fff;
    font-size: 3.00vh;
    /*padding-top: 16px;
position: relative;
bottom: 12px;*/
}
.footer-text {
    color: #000000;
    font: 14px "greatests";
}
.partners-img {
    width: 100%;
    height: auto
}
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverses .navbar-nav>li>a,
.navbar-inverses .navbar-nav>li>a:focus {
    color: #fff;
    outline: 0
}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverses .navbar-nav>li>a:focus,
.navbar-inverses .navbar-nav>li>a:hover {
    background-color: transparent;
    color: #d3d3d3;
    outline: 0
}
.navbar-inverse,
.navbar-inverses {
    background-color: none;
    color: #fff
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #fff
}
.navbar-inverses .navbar-brand:focus,
.navbar-inverses .navbar-brand:hover {
    background-color: transparent;
    color: #999
}
.cartix-logo2 {
    height: 60px;
    float: left;
    padding-top: 12px;
    padding: 8px;
}
.nav-list {
    padding-top: 10px;
}



.link-color{
  color: #000000;
}

@font-face {
    font-family: greatest;
    src: url(../font/Campton-BoldDEMO.otf)
}
@font-face {
    font-family: greatests;
    src: url(../font/Campton-LightDEMO.otf)
}
@font-face {
    font-family: apostrophe;
    src: url('../font/Mebinac regular.otf')
}
@font-face {
    font-family: exuus;
    src: url(../font/abeatbyKaiRegular.otf)
}
.apostrophe {
    font-family: apostrophe;
    src: url('../font/Mebinac regular.otf')
}
@media only screen and (max-width: 450px) {
    .col {
        margin: 1% 0
    }
    .span_1_of_5,
    .span_2_of_5,
    .span_3_of_5,
    .span_4_of_5,
    .span_5_of_5 {
        width: 100%
    }
}
.class1,
.class1:hover {
    color: #ff5722;
    font-weight: bold;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../font/glyphicons-halflings-regular.ttf)
}
.welcome-text {
    font: 4.90vh greatest;
    color: #FFCE00
}
.infographics,
.partners {
    font: 3.70vh greatest;
    color: #fff
}
.partners {
    margin-top: 35px;
    font: 3.95vh greatest;
    color: #212121
}
.welcome-text2 {
    font: 2.20vh greatests
}
.community-text {
    margin-top: 160px;
    margin-bottom: 160px
}
.bg-03 {
    background-color: #bdbdbd
}
/*.carousel-control.left, .carousel-control.right{
    background-color: blue !important;
    filter: progid:none !important;>
}*/

.glyphicon-chevron-left {
    color: #fff !important;
    left: 0;
}
.glyphicon-chevron-right {
    color: #fff !important;
}
.carousel: {
    margin-top: 77px;
    height: 100%;
    margin-bottom: 0px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 15;
    width: 60%;
    margin-left: 20px;
    list-style: none;
    text-align: center;
}
i {
    padding: 1vh;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 50%;
    border: 2px solid white;
    color: #fff;
}
.i-margin {
    padding-top: 10px;
}
/**CSS FOR THE RING**/

.glyphicon-ring {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    display: inline-table;
    text-align: center;
}
/**CSS FOR ICON WITH NO BACKGROUND COLOR**/

.glyphicon-ring .glyphicon-bordered {
    font-size: 20px;
    vertical-align: middle;
    display: table-cell;
}
/**WITH AN ADDED BACKGROUND COLOR**/

.glyphicon-white {
    background: white;
    color: black;
    border: 4px solid black;
}
.glyphicon-teal {
    background: teal;
    color: orange;
}
.glyphicon-red {
    background: red;
}
/*end*/

.context {
    border-radius: 20px !important;
    margin-bottom: 80px
}
.context-text {
    font: 3.70vh greatest;
    color: #212121!important;
    padding-top: 12px;
}
.text-padding {
    padding: 15px;
}
.bg-5 {
    background-color: #e0e0e0;
    padding-top: 20px;
    padding-bottom: 10px
}
.carousel {
    /*margin-top: 50px;*/

    margin-bottom: 30px
}
.nav-download {
    padding-top: 20px;
    background-color: #fff
}
.header-text {
    color: #757575;
    padding-top: 19px;
    font: 40px greatests
}

.alert-success {
    margin-top: 40px;
    margin-bottom: 50px
}
.download-footer {
    color: #616161
}
.margin {
    font: 40px greatest
}
.text-success {
    font-size: 14px
}
/*saving groups*/

.bg-002 {
    background: url(../img/img.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 55px;
    padding-bottom: 60px;
}
.navbar-inverses .navbar-toggle .icon-bar {
    background-color: #fff;
    outline: 0
}
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverses .navbar-nav>li>a,
.navbar-inverses .navbar-nav>li>a:focus {
    color: #fff;
    outline: 0
}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverses .navbar-nav>li>a:focus,
.navbar-inverses .navbar-nav>li>a:hover {
    background-color: transparent;
    color: #d3d3d3;
    outline: 0
}
.navbar-inverse .navbar-nav>.active>.large-link,
.navbar-inverse .navbar-nav>.active>.large-link:focus,
.navbar-inverse .navbar-nav>.active>.large-link:hover,
.navbar-inverse .navbar-nav>li>.large-link:focus,
.navbar-inverse .navbar-nav>li>.large-link:hover,
.navbar-inverses .navbar-nav>.active>.large-link,
.navbar-inverses .navbar-nav>.active>.large-link:focus,
.navbar-inverses .navbar-nav>.active>.large-link:hover,
.navbar-inverses .navbar-nav>li>.large-link:focus,
.navbar-inverses .navbar-nav>li>.large-link:hover {
    color: #e0e0e0
}
#myCarousel {
    margin-left: 30px;
    margin-right: 30px;
}
.item img {
    margin-left: auto;
    margin-right: auto;
}
.selected img {
    opacity: 0.5;
}
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}
.carousel-control.left,
.carousel-control.right {
    background: red;
    border: none;
}
.carousel-control.left {
    margin-left: -45px;
}
.carousel-control.right {
    margin-right: -45px;
}
.carousel-control {
    width: 0%;
}
.glyphicon-chevron-left,
.glyphicon-chevron-right {
    color: grey;
    font-size: 3.00vh;
}
/*new style*/

.details-style2 {
    display: inline-table;
    padding-top: 23px;
    font-size: 2.00vh;
    color: #424242;
    font-weight: bold;
    cursor: pointer;
}
.details-style2:hover {
    color: #616161;
}
.professional-details {
    display: none;
}
/*.underline{
  border-bottom:2px solid #03a9f4;
}*/

.underline {
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
.underline:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 3px solid #03a9f4;
}
.nav.shrink>li>a{
  color: blue;
}

/*Change text Color on scroll*/
.nav-list li a {
    color: #fff;
    font: 15px "greatest";
    z-index: 2;
    mix-blend-mode: difference;
}
.nav-toggle{
  color: #000000;
  font: 15px "greatest";
  z-index: 2;
  mix-blend-mode: difference;
}
