



/*          sidelef      */

.body-app{
    background-image: url(../img/cartix-pic_.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: left;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 34px;
    color: white;
}
.sidenav .closebtn_2 {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: white;
    margin-top: 40px;
    margin-right: 38px;
}
.opacity {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
}
.footer {
    position: absolute;
    bottom: 0;
}
.footer .btn-cartix-bottom {
    margin-left: 50px;
    margin-bottom: 30px;
}
.btn-cartix {
    border-radius: 20px;
    width: 100px;
    height: 40px;
    line-height: 20px;
    font-weight: bold;
    background-color: #4C0014;
    color: white;
    border: 2px solid #4C0014;
    z-index: 100;
}

.download-data p {
    color: #3D5AFE;
    font-weight: bold;
}
.download-data p:hover {
    color: #1A237E;
}

.btn-cartix_ {
    border-radius: 20px;
    width: 100px;
    height: 40px;
    line-height: 20px;
    font-weight: bold;
    background-color: #009710;
    color: white;
    border: 2px solid #009710;
    z-index: 100;
    float: left;
}
.background {
    border: 1px solid #4C0014;
    background-color: #4C0014;
    width: 100%;
    height: 80px;
    padding-top: 14px;
    position: absolute;
    top: 0;
}
.background img {
    width: 30px;
    height: 35px;
}
.upload-file {
    background-color: #EBEBEB;
    margin-top: 190px;
    padding: 120px;
}

.uploading-text_1{
  font-size: 24px;
}
.uploading-text_2{
  color: #757575;

}


.sidenav .navbar{
    min-height: 100px;
    border-radius: 0;
    margin-top: -60px;
}

.sidenav .navbar-cartix {
    background-color: #4C0014;
    border-color: #4C0014;
}

.sidenav .navbar .navbar-brand img{
    margin-top: 10px;
    width: 30%;
    margin-left: 0px;
}

.sidenav .navbar-nav{
    line-height: 100px;
}

.sidenav .navbar-nav .glyphicon-remove{
    color: #bdbdbd;
    font-size: 20px;
}

.sidenav .navbar-nav .ngo_header{
    text-decoration: none;
    color: #bdbdbd;
    font-size: 15px;
    margin-right: 15px;
}




select option{
    text-align: left !important;
} 


.from-selection{
    padding-bottom: 50px;
}

#ddlCars2 {
    text-align: left;
}



.uploading-box {
    margin-top: 80px;
}

.box-container{
    display: table;
    margin: 0 auto;
}

.box-center {
    height: 300px;
    background: #EBEBEB;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 80px;
}

.box-center .red{
    background-color: #a94442;
}

.box-center-ok {
    width: 100%;
    height: 300px;
    padding: 20px;
    background: #E8F5E9;
    text-align: center;
}
.box-center-successful{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 300px;
  padding: 20px;
  background: #E8F5E9;
  text-align: center;
}

.download-sample{
    margin-top: 50px;
}

.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: green;
    display: block;
    margin: auto;
    margin-top: 50px;
}
.text-saved {
    display: block;
    margin: auto;
    margin-top: 10px;
    font-size: 30px;
}
.glyphicon-ok {
    font-size: 45px;
    margin-top: 25px;
    color: white;
}
input[type=file] {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
  }

.table {
    padding-top: 12px;
}

#side-content-saved{
  display: none;
}

.footer-text {
    text-align: center;
    font-size: 11px;
    color: #BDBDBD;
    padding: 1rem;
}

.loading{
    padding-top: 30px;
}

.loading img{
    float: right;
    margin-top: -10px;
}