body {
font: 20px Montserrat, sans-serif;
line-height: 1.8;
background-color:#EEEEEE;
}
.bg-1 {
background-color: #560034;
}
.bg-2{
background-color: white;
}
.mail-icon{
padding-top: 30px;
padding-bottom: 30px;
}
.cartix-icon{
width: 200px;
margin-top: 140px;
}
.box-container-2 h1 {
padding-top: 30px;
color:#424242;
}
.box-container-2 p {
color:#212121;
font-size: 16px;
}
.btn-mail {
border-radius: 20px;
width: 100px;
height: 40px;
line-height: 20px;
font-weight: bold;
background-color: #009710;
color: white;
border: 2px solid #009710;
}
.btn-box{
margin-top: 30px;
}
.mail-footer img{
 margin-top: 30px;
}
