.body-style{
    
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.body-app{
   
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.col-centered img{
    display:block;
    margin:auto;
    width: 50%;
    margin-top: 30px;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%; 
    height: 60px;
}

.footer > .container {
    text-align: center;
}

.footer .footer-text{
    color: #bdbdbd;
    font-size: 13px;
}


.form-cartix{
    padding-top: 150px;
}

.sign-in{
    color: #fff;
    margin-bottom: 30px;
}


.form .form-control{
    background-color: rgba(0,0,0,0.7);
    border: #111;
    color: #bdbdbd;
}


.form .form-group p{
    color: #BDBDBD;
}

.form .form-group p a{
    color: #fff;
    text-decoration: none;
}

.form .form-group p a:hover{
    color: #BDBDBD;
    text-decoration: none;
}

.btn-success{
    border-radius: 30px;
    margin-bottom: 10px;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}




/* APP CSS  */


.footer-app{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}


.footer-app .btn-cartix-rounded{
    border-radius: 20px;
    width: 100px;
    height: 40px;
    line-height: 20px;
    font-weight: bold;
    background-color: #4C0014;
    color: white;
    border: 2px solid #4C0014;
    z-index: 100; 
    margin-left: 15px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: left;
}

.sidenav .navbar{
    min-height: 100px;
    border-radius: 0;
}

.sidenav .navbar-cartix {
    background-color: #560034;
    border-color: #560034;
}

.sidenav .navbar .navbar-brand img{
    margin-top: 10px;
    width: 30%;
}

.sidenav .navbar-nav{
    line-height: 100px;
}

.sidenav .navbar-nav .glyphicon-remove{
    color: #fff;
    font-size: 20px;
}




 .box-center {
    height: 300px;
    background: #EBEBEB;
    text-align: center;
    margin-right: 30px;
     padding-right: 100px;
    margin-top: 80px;
}





