<div ng-controller="excelFileCtrl">
   <div class="" id="call-opacity"></div>
    <footer class="footer">
       <div class="container-fluid">
          <div class="row">
             <div class="col-md-12 btn-cartix-bottom">
                <button type="button" class="btn btn-default btn-cartix" onclick="openNav()">Data</button>
                <button ng-click="signout()" class="btn btn-default btn-cartix">Sign out</button>
             </div>
          </div>
       </div>
    </footer>
    <section id="mySidenav" class="sidenav" >
      <!--Upload Page--> 
      <!-- <div id="side-content-upload"> -->
      <nav class="navbar navbar-sidebar">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="#">
               <img alt="" src="assets/img/cartix-icon.png">
               </a>
            </div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
         </div>
      </nav>
      <!--one -->
      <div class="box-container col-md-12">
         <div class="box-center ">
            <div class="form-style">
               <form name="uploadfile">
                 <div class="form-group">
                     <input type="file" ngf-select ng-model="efile" name="file"
                        accept=".xlsx,.csv,.xls" ng-drop ngf-max-size="10MB" required
                        ngf-model-invalid="errorFile">
                  </div>
                  <div class="form-group">
                     <button class="btn btn-default" ng-disabled="!uploadfile.$valid" 
                        ng-click="upload_File(efile)">upload</button>
                  </div>
                  <div class="form-group">
                      <div class="progress" ng-show="efile.progress >= 0">
                          <div class="progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:{{efile.progress}}%" ng-bind="efile.progress + '%'">
                          </div>
                       </div>
                  </div>
                  <div class="form-group">
                        <div ng-show="box_data_one">
                            <p>Upload the field Data compilation sheet here</p>
                            <p>Format: csv, xls, xlsx</p>
                        </div>
                        <div ng-show="box_data_two">
                            <p>The file contains some wrong data</p>
                            <p><a ng-href="{{ savepath }}">{{filename}}</a></p>
                        </div>
                   </div>
               </form>
               
            </div>
            
         </div>
         
         <div class="row">
             <div class="col-md-12">
                 <div class="download-sample text-center">
                    <p><a href="">Download Data compilation sheet Template here</a></p>
                 </div>
             </div>
             
         </div>
         
      </div>
      <!--Three-->
      
</section>
<section id="mySidenav1" class="sidenav" >
      <div id="side-content-saved">
          <nav class="navbar navbar-sidebar">
             <div class="container-fluid">
                <div class="navbar-header">
                   <a class="navbar-brand" href="#">
                   <img alt="" src="assets/img/cartix-icon.png">
                   </a>
                </div>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav_()">&times;</a>
             </div>
          </nav>
          <div class="box-center-successful">
             <div class="circle">
                <span class="glyphicon glyphicon-ok"></span>
             </div>
             <p class="text-saved">successfull saved</p>
          </div>

   </div>
   
   <div id="side-content-data">
      <nav class="navbar navbar-inner nav-side">
         <div class="container-fluid">
            <div class="row">
               <div class="navbar-header cartix">
                  <img alt="" src="assets/img/cartix-icon2.png">
               </div>
               <a href="javascript:void(0)" class="closebtn_2" onclick="closeNav_()">&times;</a>
               <div class="collapse navbar-collapse" id="myNavbar">
               </div>
                 <div class="from-selection">
                   <div class="col-md-4 option-select">
                  <div class="form-group">
                     <h5>Province</h5>
                     <select id="province" multiple="multiple">
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                        <option value="6">Option 6</option>
                     </select>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group">
                     <h5>District</h5>
                     <select id="district" multiple="multiple">
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                        <option value="6">Option 6</option>
                     </select>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group">
                     <h5>Sectors</h5>
                     <select id="sector" multiple="multiple">
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                        <option value="6">Option 6</option>
                     </select>
                  </div>
               </div>
                </div> 
            </div>
         
      </nav>
      
         <div class="table-center">
            <div class="table">
               <div class="col-md-12">
                   
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <td class="text-left">Saving Group :</td>
                           <td class="text-right">{{sg_number}}</td>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td class="text-left">SGs Year of creation:</td>
                           
                           <td class="text-right">{{year_creation}}</td>
                        </tr>
                        <tr>
                           <td class="text-left">SGs members Total:</td>
                        
                           <td class="text-right">{{ total_member }}</td>
                        </tr>
                        <tr>
                           <td class="text-left">SGs members- Female:</td>
                           
                           <td class="text-right">{{ total_female }}</td>
                        </tr>
                        <tr>
                           <td class="text-left">SGs members- Male:</td>
                           
                           <td class="text-right">{{ total_male }}</td>
                        </tr>
                        <tr>
                           <td class="text-left">Funding NGO:</td>
                           
                           <td class="text-right">{{ ngo_number }}</td>
                        </tr>
                        <tr>
                           <td class="text-left">Partner NGO:</td>
                           
                           <td class="text-right">{{ partner_number }}</td>
                        </tr>
                        <tr>
                           <td class="text-left">SGs Status/ supervised</td>
                          
                           <td class="text-right">{{ supervised_num }}</td>
                        </tr>
                        <tr>
                           <td class="text-left">SGs Status/ graduated</td>
                        
                           <td class="text-right">{{ graduated_num }}</td>
                        </tr>
                        <tr>
                           <td class="text-left">Saved Amount as of December 2014( In Rwf ):</td>
                          
                           <td class="text-right">{{ total_saved }}</td>
                        </tr>
                        <tr>
                           <td class="text-left">Outstanding Loans as of December 2014 ( In Rwf ):</td>
                          
                           <td class="text-right">{{ total_loan }}</td>
                        </tr>
                     </tbody>
               </table>
               </div>
            </div> 
         </div>
      
      <div class="button-save">
         <div class="col-md-12">
            <button id="button-save" type="button" class="btn btn-success btn-cartix_" ng-click="saveData(originalpath, filename_save)">Save</button>
         </div>
      </div>
      </div>
     
</section>


</div>


<script>
    $(function() {
            $('#province').change(function() {
                console.log($(this).val());
            }).multipleSelect({
                width: '100%',
                placeholder: "Province"
            });
            
            $('#district').change(function() {
                console.log($(this).val());
            }).multipleSelect({
                width: '100%',
                placeholder: "District",
                option: 'finance'
            });
            
            $('#sector').change(function() {
                console.log($(this).val());
            }).multipleSelect({
                width: '100%',
                placeholder: "Sector"
            });
            
            
        });
</script>