<div class="app">
    <div id="loader">
        <img src="../../assets/img/Cartix_map_loading_page.jpg" class="loading-img">
    </div>
    <div class="container-fluid map-height" ng-controller="mapCtrl">
        <!--  MODAL -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Settings</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" name="settings">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 " for="email">Names:</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control input-sm" id="email" placeholder="Names" ng-model="name" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="pwd">Email:</label>
                                        <div class="col-sm-7"> 
                                            <input type="email" class="form-control input-sm" id="pwd" placeholder="Email" ng-model="email"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="pwd"></label>
                                        <div class="col-sm-7"> 
                                            <button type="button" class="btn btn-settings" id="edit_setting">Save </button>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <div class="form-bottom" ng-controller="changePasswordCtrl">
                                <form class="form-horizontal" name="changePassword" >
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="pwd">Email:</label>
                                        <div class="col-sm-7"> 
                                            <input type="email" class="form-control input-sm" id="email" placeholder="Current Email" ng-model="email" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 " for="email">Current password:</label>
                                        <div class="col-sm-7">
                                            <input type="password" class="form-control input-sm" id="currentPassword" placeholder="Current password" ng-model="currentPassword" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="pwd">New password:</label>
                                        <div class="col-sm-7"> 
                                            <input type="password" class="form-control input-sm" id="newPassword" placeholder="New password" ng-model="newPassword" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="pwd">Confirm password:</label>
                                        <div class="col-sm-7"> 
                                            <input type="password" class="form-control input-sm" id="passwordConfirm" placeholder="Confirm password" ng-model="passwordConfirm" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="pwd"></label>
                                        <div class="col-sm-7"> 
                                            <button type="submit" class="btn btn-settings" ng-disabled="!changePassword.$valid" id="change_password" ng-click="changePass(email, currentPassword, newPassword, passwordConfirm)">Change password </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-5">
                                            <p style="color:red">{{ error }}</p>
                                            <p style="color:green">{{ success }}</p>
                                        </div>
                                    </div>
                                </form>
                                </div>
                                <hr>
                                <form class="form-horizontal" ng-show="parameters">
                                    <div class="form-group">
                                        <h6 class="text-center">Practioners Upload</h6>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-4" style="margin-left:35%;">
                                            <label class="radio-inline"><input type="radio" name="upload"  id="u_activate" value="1" >Activate</label>
                                            <label class="radio-inline"><input type="radio" name="upload" value="0"  id="u_deactivate">Deactivate</label>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <h6 class="text-center">Sign Up</h6>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-4" style="margin-left:35%;">
                                            <label class="radio-inline"><input type="radio" name="signup" value="1" id="s_activate">Activate</label>
<label class="radio-inline"><input type="radio" name="signup" value="0" id="s_deactivate">Deactivate</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        
        
        
        
        <!-- Modal -->
        <div id="modalHelp" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Help</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" name="help">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="">Title</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="title" class="form-control input-sm" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="">Message</label>
                        <div class="col-sm-8">
                            <textarea ng-model="message" rows="5" class="form-control col-sm-12" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd"></label>
                        <div class="col-sm-7"> 
                         <button type="submit" class="btn btn-settings" ng-disabled="!help.$valid" id="help_modal">Send Message </button>
                        </div>
                    </div>
                </form>
              </div>
            </div>

          </div>
        </div>



        
        <div class="row" >
            <div class="col-md-9 bg-map">
                <div class="container-fluid headerOnMap">
                    <div class=row>
                        <div class=col-md-2><img alt=""class=afr-logo src=assets/img/afr-logo.png></div>
                        <div class="col-md-10 selectBox">
                            <div class=select-box>
                                <select data-placeholder=National id=national_map ng-model=national>
                                    <option value=provinces>Provinces
                                    <option value=districts>Districts
                                    <option value=sectors>Sectors
                                </select>
                            </div>
                            <div class=select-box><select data-placeholder=Provinces id=province_map ng-model=province_map></select></div>
                            <div class=select-box><select data-placeholder=District id=district_map ng-model=district_map ng-options="district for district in districts"></select></div>
                            <div class=select-box><select data-placeholder="Saving Groups" id=saving_group_map multiple ></select></div>
                            <div class=select-box><select data-placeholder=Year id=year ng-model=year ng-options="year for year in years"></select></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=btn-cartix-bottom><button class="btn btn-cartix btn-default" onclick=openNav() type="button" ng-show="dataButton">Data</button>
                        <button class="btn btn-cartix btn-default" type="button" ng-click="redirectSignIn()" ng-show="signinButton">Sign In</button>
                        </div>
                    </div>
                </div>
                <div id="map-cartix">
                </div>
            </div>
            <div class="col-md-3 profile-pending bg-side">
                <div class="bg-side">
                    <div class="row" ng-show="userHeader">
                        <div class="col-md-6">
                            <p class="care-style">{{ ngo_name }}</p>
                        </div>
                        <div class="col-md-6">
                            <div class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="assets/img/lightgray.png" height="30px"/>
                                <span class="profile-name"> 
                                {{ usernames_p }}
                                </span> 
                                <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a ng-click='lunchModal()'>Settings</a></li>
                                    <li><a ng-click='lunchModalHelp()'>Help</a></li>
                                    <li><a ng-click="logout()">Log Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr class="style1" ng-show="hrLine">
                    <p class="saving-text">Saving Groups <span class="survey">({{ yearSurvey }})</span></p>
                    <div class="row">
                        <div class="alert alert-default" role="alert">
                            <div class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="analytics_text">{{ valSeclectedName }} <b class="caret"></b></span> </a>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="menuChart('Saving Group Analytics')">Saving Groups Analytics</a></li>
                                    <li><a href="" ng-click = "menuChart('Financial Institutions Analytics')">Financial Institutions Analytics</a></li>
                                    <li><a href="" ng-click = "menuChart('Agent Analytics')">Agent Analytics</a></li>
                                    <li><a href="" ng-click = "menuChart('FinScope Analytics')">FinScope Analytics</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-left">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-1"><span><img alt="" src="assets/img/groups.png" class="file-logo"></span> Total Saving Groups</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-1"><span><img style alt="" src="assets/img/savings.png" class="file-logo"></span> Total Membership</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-2">{{ sg_count }}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-2">{{ membership }}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-1"><span><img alt="" src="assets/img/member.png" class="file-logo"></span> Total Savings</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-1"><span><img style alt="" src="assets/img/dot.png" class="file-logo"></span> Total Outstanding Loans</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-2">{{ saving }} Rwf</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-2">{{ borrowing }} Rwf</p>
                            </div>
                        </div>
                    </div>
                    <div class="chart" id="saving_group" ng-show="saving_group_filter">
                        <hr>
                        <div id="container" style="min-width: 340px; height: auto; max-width: 600px; margin: 0 auto"></div>
                        <hr>
                        <div id="container_pie" style="min-width: 340px; height: auto; max-width: 600px; margin: 0 auto"></div>
                        <hr>
                        <div id="container_saving_loan" style="min-width: 340px; height: auto; max-width: 600px; margin: 0 auto"></div>
                        <hr>
                        <div id="container_year_sg" style="min-width: 340px; height: auto; max-width: 600px; margin: 0 auto"></div>
                        <hr>
                        <div id="sg_per_int_ngo" style="min-width: 340px; height: 1180px; max-width: 600px; margin: 0 auto"></div>
                        <hr>
                        <div id="sg_local_per_int" style="min-width: 340px; height: 1810px; max-width: 600px; margin: 0 auto"></div>
                        <hr>
                    </div>
                    <div class="chart" id="financial" ng-show="financial">
                        <div id="sg_financial" style="min-width: 340px; height: 750px; max-width: 600px; margin: 0 auto"></div>
                        <hr>
                    </div>
                    <div class="chart" id="agent" ng-show="agent">
                        <div id="sg_agent" style="min-width: 340px; height: 750px; max-width: 600px; margin: 0 auto"></div>
                        <hr>
                    </div>
                    <div class="chart" id="finscope" ng-show="finscope">
                        <div id="container_finscope" style="min-width: 340px; height: auto; max-width: 600px; margin: 0 auto"></div>
                        <hr>
                        <div id="finscope_sg_pie_2012" style="min-width: 340px; height: auto; max-width: 600px; margin: 0 auto"></div>
                        <hr>
                        <div id="finscope_sg_pie_2015" style="min-width: 340px; height: auto; max-width: 600px; margin: 0 auto"></div>
                        <hr>
                        <div id="finscope_all_2012" style="min-width: 340px; height: 750px; max-width: 600px; margin: 0 auto"></div>
                        <hr>
                        <div id="finscope_all_2015" style="min-width: 340px; height: 750px; max-width: 600px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--NOTIFICATION SLIDE-->
    <section id="mySidenav" class="sidenav" ng-controller="notificationCtrl">
        <div id="notification">
            <div class="navbar-sidebar">
                <nav class="navbar">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                            <img alt="" src="assets/img/cartix_logo.png">
                            </a>
                        </div>
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    </div>
                </nav>
                <div class="row">
                    <div class="container-fluid dropdown-box">
                       <!-- <div class="row " ng-show="notifAdmin">
                            <div class="col-md-3">
                                <div class="select-box drop-notif">
                                    <p>International NG0</p>
                                    <select id="int_ngo" multiple="multiple" ng-model="int_ngo_filter" ng-change="loadLocalNgo(int_ngo_filter)">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="select-box">
                                    <p>Local NGO </p>
                                    <select id="local_ngo_admin" multiple="multiple" ng-model="localNgoFilter" >
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="select-box">
                                    <p>Year</p>
                                    <select id="year_admin" multiple="multiple" ng-model="yearFilterAdmin">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="select-box">
                                    <p>Status</p>
                                    <select id="status_admin" multiple="multiple">
                                        <option value="1">Success</option>
                                        <option value="2">Error</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row ngo" ng-show="notifNgo">
                            <div class="col-md-4">
                                <div class="select-box">
                                    <p>Local NGO</p>
                                    <select id="local_ngo" multiple="multiple">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="select-box">
                                    <p>Year</p>
                                    <select id="year_ngo" multiple="multiple">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="select-box">
                                    <p>Status</p>
                                    <select id="status_ngo" multiple="multiple">
                                        <option value="1">Success</option>
                                        <option value="2">Error</option>
                                    </select>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <div class="container container-data text-icon">
                        <div class="success" ng-repeat="file in files">
                            <img alt="" src="assets/img/yellow.png" class="red-icon">
                            <p class="care-rwanda">{{ file.user.ngo.name }}<span> {{ file.regDate }}</span></p>
                            <span class="text-uploaded">Uploaded a file</span><br>
                            <!--<span class="text-uploaded">Lorem Ipsum is simply dummy text of the printing and typesetting.</span>--><br>
                            <div class="container">
                                <div class="panel {{ file.status ? 'panel-success' : 'panel-danger' }}">
                                    <a href="https://sgapi.bnr.rw/api/v1/download_files/{{file.original}}">
                                        <div class="panel-body">
                                            <img alt="" src="assets/img/file.png" class="file-logo">
                                            <p class="SG-text"><span> {{ file.filename }}</span></p>
                                            <span class="text-uploaded">{{ file.size }} excel spreadsheet</span>
                                            <div class="danger-icon">
                                                <img alt="" src="{{ file.status ? 'assets/img/success.png' : 'assets/img/danger.png' }}">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <footer>
                                <button type="button" class="btn btn-default btn_cartix" onclick="openNav1()">Upload</button>
                                <button type="button" class="btn btn-default btn_cartix" onclick="openNav2()">View Data</button>
                                <a class="btn btn-default btn_cartix" ng-href="https://sgapi.bnr.rw/api/v1/download_consent_form">Consent forms</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION DISPLAY DATA ON UPLOAD-->
    <section id="mySidenav1" class="sidenav2" ng-controller="excelFileCtrl">
        <!--SECTION DISPLAY DATA-->
        <div id="sidebar_data">
            <div class="navbar-sidebar">
                <nav class="navbar">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                        <img alt="" src="assets/img/cartix_logo.png">
                        </a>
                    </div>
                    <a href="javascript:void(0)" class="closebtn_2" onclick="closeNav_()">&times;</a>
                </nav>
                <div class="container-fluid">
                    <div class="box">
                        <!-- UPLOAD FILE_1 -->
                        <div class="row" ng-show="uploadProcess">
                            <div class="upload-box">
                                <!-- upload title Submit Your File / Uploading files / Checking for errors -->
                                <h2>{{ uploadTitle }}</h2>
                                <!-- filename -->
                                <p class="small-text">{{ filename }}</p>
                                <!-- image type  "assets/img/files-xls.png" | assets/img/file.png -->
                                <div class="error" ng-show="box_data_two">
                                    <img alt="" src="assets/img/danger.png" class="icon-danger">
                                    <p class="error_message_text">You file contains errors, consider revising highlighted fields.
                                        Download it here: <a ng-href="https://sgapi.bnr.rw/api/v1/download_error_files/{{savepath}}">{{filename}}</a>
                                    </p>
                                </div>
                                <img alt="" src="assets/img/files-xls.png" ng-show="img_upl">
                                <!-- upload -->
                                <form name="uploadfile">
                                    <div class="drop-box" ng-show="uploadInput">
                                        <input id="upload" type="file" ngf-select ng-model="efile" name="file" accept=".xlsx,.csv,.xls,.pdf" ng-drop ngf-max-size="10MB" required ngf-model-invalid="errorFile"/>
                                        <p class="browse-text">Drag a file here or <a href="" id="upload_link">browse</a> for a upload</p>
                                        <button type="button" class="btn btn-success margin-button" id="upload-progress" ng-disabled="!uploadfile.$valid"                ng-click="upload_File(efile)">Upload</button>
                                        <br>
                                    </div>
                                    <!-- Progress -->
                                    <div class="progress" ng-show="efile.progress >= 0">
                                        <div class="progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{efile.progress}}%" ng-bind="efile.progress + '%'">   
                                        </div>
                                    </div>
                                    <div class="row" ng-show="spinLoad">
                                        <i class="fa fa-spinner fa-spin" style="font-size:40px"></i>
                                        <p class="small-text_">this might take a while</p>
                                    </div>
                                </form>
                                <!-- Save succed file 
                                    <div class="uploading-box">
                                        <div class="button-save">
                                            <button id="button-save-file" type="button" class="btn btn-success btn-cartix_" onclick="openNav1()">Save</button>
                                        </div>
                                    </div> -->
                                <!-- file error -->
                                <!-- download template file -->
                                <div class="row">
                                    <p class="download_data_text"><a target="_blank" href="https://sgmap.bnr.rw/uploads/Data_Compilation_Sheet_Template_2016.xlsx">Download Data compilation sheet Template here</a></p>
                                </div>
                                <div class="row">
                                    <p class="download_data_text"><a target="_blank" href="../../uploads/BNR Consent form - Saving group infomation.pdf">Download Consent form Template here</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="showDataUlploaded">
                            <div class="table-center">
                                <div class="table">
                                    <div class="col-md-12">
                                        <table class="table table-hover" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <td class="text-left">Saving Group :</td>
                                                    <td class="text-right">{{sg_number}}</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-left">SGs Year of creation:</td>
                                                    <td class="text-right">{{year_creation}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">SGs members Total:</td>
                                                    <td class="text-right">{{ total_member }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">SGs members- Female:</td>
                                                    <td class="text-right">{{ total_female }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">SGs members- Male:</td>
                                                    <td class="text-right">{{ total_male }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">Funding NGO:</td>
                                                    <td class="text-right">{{ ngo_number }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">Partner NGO:</td>
                                                    <td class="text-right">{{ partner_number }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">SGs Status/ supervised</td>
                                                    <td class="text-right">{{ supervised_num }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">SGs Status/ graduated</td>
                                                    <td class="text-right">{{ graduated_num }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">Saved Amount as of December {{ year_amount }} ( In Rwf ):</td>
                                                    <td class="text-right">{{ total_saved }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">Outstanding Loans as of December {{ year_amount }} ( In Rwf ):</td>
                                                    <td class="text-right">{{ total_loan }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <footer>
                                            <button id="button-save" type="button" class="btn btn-success btn-cartix_" ng-disabled="disabled" ng-click="saveData(originalpath, filename_save)">{{ savedValue }}</button>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--SUCESSFULLY SAVED-->
                        <div class="row">
                            <div class="successfull-saved" ng-show="successfullySaved">
                                <div class="box-center-successful">
                                    <div class="circle">
                                        <i class="fa fa-check" aria-hidden="true" style="font-size:40px"></i>
                                    </div>
                                    <h2>Sucessfully saved!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="mySidenav2" class="sidenav2" ng-controller="viewAlldataCtrl">
        <div id="sidebar_data">
            <div class="navbar-sidebar">
                <nav class="navbar">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                        <img alt="" src="assets/img/cartix_logo.png">
                        </a>
                    </div>
                    <a href="javascript:void(0)" class="closebtn_2" onclick="closeNav2()">&times;</a>
                </nav>
                <div class="container-fluid">
                    <div class="box">
                        <!--  View All Data -->
                        <div class="row" id="dataNgoHandler">
                            <div class="col-md-4" id="changeColClass">
                                <div class="select-box">
                                    <p>Province</p>
                                    <select id="ddlCars13" multiple="multiple">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4" id="changeColClass">
                                <div class="select-box">
                                    <p>District</p>
                                    <select id="ddlCars14" multiple="multiple">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4" id="changeColClass">
                                <div class="select-box">
                                    <p>Sector</p>
                                    <select id="ddlCars15" multiple="multiple">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4" ng-show="intlNgo">
                                <div class="select-box intNgo">
                                    <p>International NGO</p>
                                    <select id="ddlCars16" multiple="multiple">
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                        <option value="5">Option 5</option>
                                        <option value="6">Option 6</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4" ng-show="localNgo">
                                <div class="select-box">
                                    <p>Local NGO</p>
                                    <select id="ddlCars9" multiple="multiple">
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                        <option value="5">Option 5</option>
                                        <option value="6">Option 6</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="select-box">
                                    <p>Year of Survery</p>
                                    <select id="ddlCars17">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="select-box" >
                                    <p>View Data</p>
                                    <button class="btn btn-primary" id="viewdata_btn" ng-show="admin_btn">Submit</button>
                                    <button class="btn btn-primary" id="viewdata_btn_int" ng-show="int_btn">Submit</button>
                                    <button class="btn btn-primary" id="viewdata_btn_local" ng-show="local_btn">Submit</button>
                                </div>
                            </div>
                            <div class="table-center">
                                <div class="table">
                                    <div class="col-md-12">
                                        <table class="table table-hover" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <td class="text-left">Saving Group :</td>
                                                    <td class="text-right">{{saving_group}}</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-left">SGs Year of creation:</td>
                                                    <td class="text-right">{{year_of_creation}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">SGs members Total:</td>
                                                    <td class="text-right">{{ total_member }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">SGs members- Female:</td>
                                                    <td class="text-right">{{ member_female }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">SGs members- Male:</td>
                                                    <td class="text-right">{{ member_male }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">Funding NGO:</td>
                                                    <td class="text-right">{{ funding_ngo }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">Partner NGO:</td>
                                                    <td class="text-right">{{ partner_number }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">SGs Status/ supervised</td>
                                                    <td class="text-right">{{ supervised }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">SGs Status/ graduated</td>
                                                    <td class="text-right">{{ graduated }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">Saved Amount as of December {{ year }} ( In Rwf ):</td>
                                                    <td class="text-right">{{ saving }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">Outstanding Loans as of December {{ year }} ( In Rwf ):</td>
                                                    <td class="text-right">{{ borrowing }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-success pull-left" ng-show="dataDownload" ng-click=downloadExcel(sqlQuery,year)>Download</button>
                                        <p>{{ url }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
