body {
    font: 30px Montserrat, sans-serif;
    /*line-height: 1.8;*/
    color: #f5f6f7;
    position: relative;
}
p {
    font-size: 14px;
}
.index-box-text {
    font-weight: bold;
    padding-top: 120px;
}

  .adresse{
    padding-top: 40px;
  }
.comunity-img{
   position: relative;
   bottom: 99px;
}
.bg-4 {
    background-color: black;
    color: #ffffff;
}

.container-fluid {
      padding-top: 23px;
    /*padding-bottom: 10px;*/
}

.navbar {
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
}
.padlock {
    max-height: 60px;
}
.padlock {
    display: inline;
}
.home-icon-service {
    margin-top: 80px;
    max-height: 200px;
}
.style-login {
    border-radius: 60px;
    border: 2px solid #fff;
    /*line-height:19px;*/
}
.btn-responsive {
    font: 17px "greatest";
    color: #333;
    background-color: transparent;
    border: 1.99px solid #ccc;
    border-radius: 40px;
    height: 40px;
    line-height: 10px !important;
}

.btn-responsive:hover,
.btn-responsive:focus{
outline:0 !important;
}

.btn-login2 {
    color: #333;
    background-color: transparent;
    border: 1.99px solid #880e4f;
    border-radius: 40px;
    height: 44px;
    line-height: 10px !important;
}

.bg-1 {
    background: url("../img/map.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
    outline: none;
}

.navbar-default{
    outline: none;
}

.navbar-default > li > a:hover,
.navbar-default > li > a:focus {
    background-color: transparent;
    outline: none;
    color: #fff;
}

.navbar-inverses .navbar-toggle .icon-bar {
    background-color: #fff;
    outline: none;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:focus {
    color: white;
    outline: none;
}

.navbar-inverses .navbar-nav > li > a,
.navbar-inverses .navbar-nav > li > a:focus {
    color: white;
    outline: none;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: transparent;
    color: lightgray;
    outline: none;
}

.navbar-inverses .navbar-nav > li > a:hover,
.navbar-inverses .navbar-nav > li > a:focus {
    background-color: transparent;
    color: lightgray;
    outline: none;
}

.navbar-inverse {
    background-color: none;
    color: white;
}

.navbar-inverses {
    background-color: none;
    color: white;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #fff;
}

.navbar-inverses .navbar-brand:hover,
.navbar-inverses .navbar-brand:focus {
    background-color: transparent;
    color: #999999;
}

.cartix-logo {
    height: 40px;
    float: left;
}

.cartix-logo2 {
    height: 50px;
    float: left;
}
.exuux_location {
    font-weight: bold;
}
.exuux_location2 {
    font-weight: normal;
    font-size: 10px;
}
.location-img {
    font-size: 2px;
}
.coming-soon-text {
    margin-top: 35px;
    font: 19px "greatests";
}
.coming-soon-text2{
  font: 30px "greatest";
  margin-top: 110px;
  margin-bottom: 30px;
  color: #f9a825;
}

@media only screen and (max-width: 500px) {
    .download-image {
        width: 80%;
        height: auto;
    }
    .comunity-img{
      width: 100%;
      height: auto;
    }
    .text-style-bottom{
      position: relative;
      top: 110px;
    }
     .hide-on-small{
      visibility:hidden;
    }
    .nav-style{
      position: relative;
      bottom: 22px;
    }
}

@media only screen and (max-width: 500px) {
  .margin {
      font-weight: bold;
      margin-top: 90px;
  }
}

.intelligence {
    font-weight: bold;
      color: #880e4f;
    font-size: 17px;
}
.download-image {
    position: relative;
    bottom: 13px;
}
a {
    outline: none;
}
.btn-login {
    color: #333;
    background-color: transparent;
    border-color: #ccc;
    border-radius: 44px;
    height: 38px;
    line-height: 10px !important;
}
 .btn-style{
   background-color: transparent;
 }

.down-arrow {
    height: 45px;
    position: relative;
    top: 30px;
}
.kiwi1 {
    fill: white;
}

.kiwi2 {
    fill: white;
}
.footer-link {
    text-align: justify;
    font-weight: bold;
    color: #fff;
}
.footer-link_ {
    text-align: justify;
    font-weight: bold;
    color: #fff;
}
.download-apple {
    max-height: 100px;
    width: 330px;
}
.footer-link1 {
    text-align: justify;
    color: #fff;
    font: 14px "greatests";
}
.faqq {
    color: #424242;
}
.touch {
    font: 18px "greatests";
}
.touch-footer{
  font: 16px "greatests";
}

@media only screen and (max-width: 500px) {

}
@media only screen and (max-width: 500px) {
    .bounce {
        margin-top:10px;
    }
}
@media only screen and (max-width: 500px) {
    .download-apple {
       width: 100%;
    }
}
.touch2 {
    font: 17px "greatests";
}
.support_text {
    font: 16px "greatests";
}
.link-style{
  color: #536dfe;
}
.link-style:hover{
  color: #0277bd;
}
@font-face {
    font-family: greatest;
    src: url('../font/Campton-BoldDEMO.otf');
}

@font-face {
    font-family: greatests;
    src: url('../font/Campton-LightDEMO.otf');
}
/*@font-face {
    font-family: exuus;
    src: url('../font/ABEAKRG.TTF');
}*/

@font-face {
    font-family: apostrophe;
    src: url('../font/Mebinac regular.otf');
}
@font-face {
    font-family: exuus;
    src: url('../font/abeatbyKaiRegular.otf');
}
.class1 {
    font: 14px "exuus";
}
.opostrophe {
    font-family: apostrophe;
    src: url('../font/Mebinac regular.otf');
}
.slash {
    font: 14px "apostrophe";
}
.large {
    font: 17px "greatests";
    border-radius: 40px;
    line-height: 18px !important;
}
.large-link {
    font: 17px "greatest";
    border-radius: 40px;
    line-height: 18px !important;
}
.large:focus,
.large:active,.large2:focus,.large:active {
  outline: none !important;
}

.large2 {
    font: 17px "greatests";
    margin-top: 20px;
    margin-bottom: 70px;

    border-radius: 40px;
    line-height: 18px !important;
}
.terms {
    font: 35px "greatest";
    color: #424242;
    padding-top: 90px;
    padding-bottom: 50px;
    float: left;
}
.terms2 {
    font: 15px "greatest";
    color: #424242;
    text-align: left;
    float: left;
}
.visit a {
    text-align: center !important;
    font: 17px "greatests";
    position: relative;
    bottom: 90px;
}
.term-text {
    font: 17px "greatests";
    color: #424242;
    text-align: left;
}
.term-text2 {
    font: 17px "greatests";
    color: #424242;
    text-align: left;
    font-weight: bold;
}
.text-link {
    font-family: sans-serif;
}
.basic-style {
    font: 28px "greatest";
}
.standard-style {
    font: 28px "greatest";
}
.premium-style {
    font: 28px "greatest";
}
.price-style {
    font: 20px "greatests";
}
.price-style2 {
    font: 20px "greatests";
}
h1,
.cartix-text {
    font: 45px "greatest";
}
.text00 {
    font: 19px "greatests";
    color: #e0e0e0;
}
a:hover{
  color: #616161;
}
.hover-style:hover{
  color:
}
.support-div {
    padding-top: 35px;
    padding-bottom: 30px;
    min-height: 0px important;
}
{
  width: 50%;
  height: auto;
}
a:hover {
    outline: none !important;
}
a {
    outline: none !important;
}
/*.bg-02 {
background-image: url("../img/cash.svg")no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}*/
/*  SECTIONS  */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}
/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child {
    margin-left: 0;
}
/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
    /* For IE 6/7 */
}
/*  GRID OF FIVE  */

.span_5_of_5 {
    width: 100%;
}
.span_4_of_5 {
    width: 79.68%;
}
.span_3_of_5 {
    width: 59.36%;
}
.span_2_of_5 {
    width: 39.04%;
}
.span_1_of_5 {
    width: 18.72%;
}
/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 450px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_1_of_5,
    .span_2_of_5,
    .span_3_of_5,
    .span_4_of_5,
    .span_5_of_5 {
        width: 100%;
    }
}
.class1 {
    color: #ff5722;
}
.class1:hover {
    color: #ff5722;
}
.cartix-text {
    font-weight: bold;
    color: #880e4f;
    font-size: 45px;
    margin-top: 23px;
}
.cartix-text_ {
    font-weight: bold;
    color: #880e4f;
    font: 45px "greatest";
    margin-top: 23px;
}
.faq-text {
    font-weight: bold;
    color: #616161;
    font: 35px "greatest";
    margin-top: 23px;
}

.bounce {

    height: 50px;
}
.down-arrow_2{
  /*margin-top: 10px;*/
}
.social-network-icon{
  max-height: 30px;
  max-width: 30px;
}

.icons-justify{
  text-align: justify;
}
.social-network-icon{}


img {
    display: block;
    margin: 0 auto;
}
 @media only screen and (max-width: 500px) and (max-width: 1024px) {
    #Layer_01 {
        width: 100%;
    }
}


@media only screen and (max-width: 500px) and (max-width: 1024px) {
    .home-icon {
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 500px) and (max-width: 1024px){
    #Layer_02 {
        width: 100%;
    }
}
@media only screen and (max-width: 500px) and (max-width: 1024px){
    /*.comunity-img {
        width: 100%;
    }*/
}

@media only screen and (max-width: 500px) and (max-width: 1024px){
    .customer-img {
        width: 100%;
    }
}
@media only screen and (max-width: 500px) and (max-width: 1024px){
    .blog-img {
        width: 100%;
    }
}
@media only screen and (max-width: 500px) and (max-width: 1024px){
    .calendar-svg {
        width: 100%;
    }
}
@media only screen and (max-width: 500px) and (max-width: 1024px){
    /*img{
    width: 100%;
    height: auto;
  }*/
}
.partners-img {
    width: 100%;
    height: auto;
}
.text2 {
    position: relative;
    bottom: 140px;
    right: 70px;
}
.text3 {
    position: relative;
    top: -10px;
    left: -150px;
}
.calendar-svg2 {
    position: relative;
    top: 110px;
    right: 320px;
}
.calendar-svg3 {
    position: relative;
    top: 110px;
    right: 150px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}
.sr-only {
    color: #fff;
}
.section-group {
    padding-top: 15px;
    padding-bottom: 70px;
}
a {
    color: inherit;
}
.text-justify_ {
    text-align: justify;
    margin-top: 80px;
}
.faq-text_ {
    margin-bottom: 90px;
}
.section group {
    margin-top: 90px;
}
#accordion {
  display: none;
}

@media only screen and (max-width: 500px) and (min-width : 1024px) {
.location{
  display:none;
}
.btn-responsive {
    font: 17px "greatest";
    color: #333;
    background-color: transparent;
    /*border: 1.99px solid #ccc;
    border-radius: 40px;
    height: 40px;
    width: 100px;*/
    line-height: 10px !important;

}
.down_arrow{
    display: none;
}
.bottom_footer{
  margin-top: 15px;
}
.index-box-text{
  padding-top:0px;
}
/*.data{
  padding-bottom: 90px;
}*/

.footer-hide{
  display: none;
}
a{
  color: #fff;
}
.small-view{
  color: black;
}
/*.coming-soon-text{
  position: relative;
  bottom: 50px;
}*/
/*.icons-justify{
  position: relative;
  top: 40px;
}*/
.data{
  position: relative;
  bottom: 20px;
}

.collapse-community{
  background-color: #87ad5d;
}
.down-arrow_2{
  display: none;
}
/*.comunity-img{
 position: relative;
 bottom: 120px;
}*/
.moda-fade{
  margin: 5px;
}
.btn-responsive {
    font: 17px "greatest";
    color: #333;
    background-color: transparent;
    border: 1.99px solid #ccc;
    border-radius: 40px;
    height: 32px;
    line-height: 10px !important;
}
.cartix-content2{
 padding-top: 180px;
}
.support-div {
    position: relative;
    bottom: 120px;
    padding-bottom: 70px;
    min-height: 0px important;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  #accordion {
     display: block;
     }  /* show it on small screens */
     .footer-hide{
       display: none;
     }
     .small-view{
       color: gray;
     }
     .footer-link1{
       color: gray;
     }
     .bounce{
       display: none;
     }
     .down-arrow_2{
       display: none;
     }
}
    @media only screen and (max-width:732px) {
  /* Styles for Portrait screen */
  .location{
    display:none;
  }
  .btn-responsive {
      font: 17px "greatest";
      color: #333;
      background-color: transparent;
      /*border: 1.99px solid #ccc;
      border-radius: 40px;
      height: 40px;
      width: 100px;*/
      line-height: 10px !important;
  }

  .down_arrow{
      display: none;
  }

  .bottom_footer{
    margin-top: 15px;
  }

  .index-box-text{
  padding-top: 10px;
  }

  /*.data{
    padding-bottom: 90px;
  }*/

  .footer-hide{
    display: none;
  }
  a{
    color: #fff;
  }
  .small-view{
    color: black;
  }
  .coming-soon-text{
    position: relative;
    bottom: 60px;
  }
  .data{
    position: relative;
    : 0px;
  }

  .collapse-community{
    background-color: #87ad5d;
  }
  .down-arrow_2{
    display: none;
  }

  .moda-fade{
    margin: 5px;
  }
  .btn-responsive {
      font: 17px "greatest";
      color: #333;
      background-color: transparent;
      border: 1.99px solid #ccc;
      border-radius: 40px;
      height: 32px;
      line-height: 10px !important;
  }
  .cartix-content2{
   padding-top: 220px;
  }
  .support-div {
      position: relative;
      bottom: 120px;
      padding-bottom: 70px;
      min-height: 0px important;
    }
}

/*@media screen and (max-width: 500px) {
    html,body{
        animation: none !important;
        visibility: visible !important;
    }
}*/
.styling{
  width: 100%;
  color: #fff;
  border:none;
}

.styling2{
  width: 100%;
  color: #fff;
  border:none;
}
.border-bottom{
    border-bottom:0.01px solid #fafafa;
    width: 100%;
    max-width: 100%
}
.border-bottom2{
    border-bottom:0.01px solid #f5f5f5;
    width: 100%;
    max-width: 100%

}
.styling:focus,
.styling:active {
  width: 100%;
  outline: none !important;
}

.styling2:focus,
.styling2:active {
  width: 100%;
  outline: none !important;
}
  .collapse-text{
    float: left;
    color: #fff;
  }
  .collapse-text2{
    float: left;
    color: black;
  }

/* Icon when the collapsible content is shown */
.styling:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    margin-left: 15px;
    color: #fff;
    font-size: 15px;
  }
  .styling.collapsed:after {
    content: "\e080";
    color: #fff;
  }

  .styling2:after {
      font-family: "Glyphicons Halflings";
      content: "\e114";
      float: right;
      margin-left: 15px;
      color: #9e9e9e;
      font-size: 15px;
    }
    .styling2.collapsed:after {
      content: "\e080";
      color: #9e9e9e;
    }
    .body-style{
      background-color: black;
    }
    .body-style{
      margin-left: 19px;
    }
    .body-style2{
      margin-left: 19px;
    }

@font-face{
    font-family:'Glyphicons Halflings';
    src:url(../font/glyphicons-halflings-regular.ttf);
}

/*cartix page*/
.bg_01 {
background-color: #fafafa; /* Green */
color: #ffffff;
padding-top: 70px;
padding-bottom: 70px;
}
.bg_3 {
background-color: #560034; /* Green */
color: #ffffff;
}
.logo-bourgogne{
height: 50px;
float: left;
}
.cartix-nav {
position: fixed;
top: 0;
left: 0;
z-index: 9999;
width: 100%;
/*padding-top: 15px;
padding-bottom: 15px;*/
border: 0;
border-radius: 0;
margin-bottom: 0;
font-size: 12px;
}
.cartix-nav-nav  li a:hover {
color: #1abc9c !important;
}
.cartix-nav{
background-color: #fff;
}
.bg_02 {
background:url(../img/cash.svg) no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-left: auto;
margin-right: auto;
}
.pricing-detail{
padding-top: 100px;

}
.col-centered{
  display: block;
   margin-left: auto;
   margin-right: auto;
   float:none;
}
.bottom-style{
  padding-top: 120px;
  padding-bottom: 80px;
  display:inline-table;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
}
.text-price{
  font-size: 1.23rem;
}
.panel-bottom{
  margin-bottom: 95px;
}
.basic-style{
color: #757575;
margin: 20px;
font-weight: bold;
}
.panel-bottom{

}

.standard-style{
color: #757575;
margin: 20px;
font-weight: bold;
}
.premium-style{
color: #757575;
margin: 20px;
font-weight: bold;
}
.body-1{
background-color: #ffda88;

}
.body-2{
background-color: #a8cfb1;
border: 2px solid  #a8cfb1;
}
.panel-default{
  box-shadow:-15px 25px 30px #bdbdbd;
}
.body-3{
background-color: #91d0ff;
}
.footer-1{
background-color: #fff;

}
.price-style{
font-size: 32px;
font-family: sans-serif;
}
.price-style2{
font-size: 69px;
}
.text_{
margin-top: 23px;
color:  #9e9e9e;
text-align: justify;
font-weight: bold;
}
.list-style_{
color: #616161;
font-size: 15px;
text-align: justify;
}
#pricing{
padding-top: 50px;
}
#support{
padding-top: 50px;
}
#About{
  padding-bottom: 20px;
}
.bg_04{
background-color: #fff;
}
.footer-link:hover{
  color:#757575;
}
.cartix-content{
 margin-top: 200px;
}
.cartix-content2{
 margin-top: 200px;
}

/*Community css*/
.bg-001 {
background-color: #87ad5d;
}
.navvv{
   background:transparent;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9999;
   width: 100%;
   padding-top: 15px;
   border: 0;
   border-radius: 0;
   padding: 19px;
}
.bg_03{
background-color: #fafafa;
}

#customers{
padding-top: 50px;
}

.bg_04{
background-color: #fff;
}
.comunnity-text{
font-weight:600px;
  /*margin-top: 80px;*/
}
.blog-img{
margin-top: 90px;
padding-bottom: 80px;
}
#events{
padding-top: 90px;
}
.landing-col{
background: url('img/globe.png') no-repeat top center ;
-webkit-background-size: 100% auto;
-moz-background-size: 100% auto;
-o-background-size: 100% auto;
/*background-size: 100% auto;*/
height:755px;
margin-bottom:-44px;
}
.text-justify{
float: right;
}
.contribute-link{
color: #2962ff;
}
.community-text_{
/*bottom: 85px;*/
}
/*FAQ style*/

.bg_011 {
color: #ffffff;
padding-top: 70px;
padding-bottom: 70px;
background:url(../img/faqbg.svg) no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#about{
background-color: #F6F1F4;
}
.bg-3 {
background-color: #560034; /* Green */
color: #ffffff;
}
.logo-bourgogne{
height: 50px;
}
.price_style2{
    font: 19px "greatests";
}


.modal.fade .modal-dialog {
    -webkit-transform: scale(8);
    -moz-transform: scale(8);
    -ms-transform: scale(8);
    transform: scale(8);
    top: 400px;
    opacity: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}

.modal-header {
  font-family: "Bree Serif";
  background-color: #fff;
  border-radius: 5px;
}
.modal-content{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
    border: 1px solid #fff;
}

.modal-body {
  font-size: 16px;
  border: none;
}
.modal-title{
  text-align: center;
  color: #fff;
    font: 35px "greatest";
}
.modal-subtitle{
  text-align: center;
  color: #fff;
    font: 16px "greatests";
}
.input{
  margin-bottom: 12px;
}
.close {

font-size: 41px;
font-weight: 700;
line-height: 2;
color: #fff;
text-shadow: 0 1px 0 #fff;
filter: alpha(opacity=20);
opacity: 1.2;
border: 2px solid #fff;
border-color: #fff;
border-radius: 18px;
width: 45px;
height: 40px;

line-height: 38px !important;
}
.my_form{
  background-color: transparent;
  color: white;
  opacity: 0.60;

}
.input-lg:focus{
  border-color: #fff;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[placeholder]:focus {
    font-weight: bold;
    color: white;
    opacity: 2;
}
input[placeholder] {
    font-weight: bold;
    color: #fff;
    opacity: 2;
}
textarea[placeholder] {
    font-weight: bold;
    color: #fff;
    opacity: 2;
}
textarea[placeholder]:focus {
    font-weight: bold;
    color: white;
    opacity: 2;
}
 .my_form:focus{
  border-color: #fff;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.signup-btn{
  display: block;
  margin: 0 auto;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  opacity: 2;
  font: 16px "greatests";

}
::-webkit-input-placeholder:focus{
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  font: 16px "greatests";
}

.modal-backdrop.in {
	opacity: 0.93;
  /*background-color:#fafafa;
  opacity: 1;*/
}

/*p {
  margin: 50px;
}*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {

}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav > li > .large-link:hover,
.navbar-default .navbar-nav > li > .large-link:focus,
.navbar-default .navbar-nav > .active > .large-link,
.navbar-default .navbar-nav > .active > .large-link:hover,
.navbar-default .navbar-nav > .active > .large-link:focus {
  color: #560034;



}

.navbar-inverses .navbar-nav > li > .large-link:hover,
.navbar-inverses .navbar-nav > li > .large-link:focus,
.navbar-inverses .navbar-nav > .active > .large-link,
.navbar-inverses .navbar-nav > .active > .large-link:hover,
.navbar-inverses .navbar-nav > .active > .large-link:focus {
  color: #e0e0e0;


}
.navbar-inverse .navbar-nav > li > .large-link:hover,
.navbar-inverse .navbar-nav > li > .large-link:focus,
.navbar-inverse .navbar-nav > .active > .large-link,
.navbar-inverse .navbar-nav > .active > .large-link:hover,
.navbar-inverse .navbar-nav > .active > .large-link:focus {
  color:#e0e0e0;

}

.large-link_{
display: none;
}

/*Savings Groups*/
.bg-002 {
background:url(../img/img.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
height: auto;
padding-top: 35px;
padding-bottom: 45px;
}

.bg-03{
background-color: #e0e0e0;
}

.default-1{
background-color: #0099dA;
border: 1px solid #0099da;
}
.default-2{
background-color: #23b24c;
border: 1px solid #23b24c;
}
.context{
border-radius: 20px;
margin-bottom: 80px;
}
.bg-5{
background-color: #424242;
padding-top: 30px;
padding-bottom: 20px;
}
/*footer{
position: relative;
margin-top: -20px;
height: 20px;
clear:both;
}*/
.carousel{
margin-top: 50px;
margin-bottom: 30px;
}
